@using C_Web.Entity.TrackSpend.Enum
@using C_WebDTO.TrackSpendDTO
@{
    List<ClassifyDTO> incomelsit = ViewBag.incomeList;
    List<ClassifyDTO> expenseslist = ViewBag.expensesList;
}
<style>
    #tab-title > div{
        background-color:#BEBEBE;
    }
    #tab-title .active {
        background-color: #ffffff;
    }
</style>
<div class="modal-header">
    <h2 class="modal-title">
        紀錄新增
    </h2>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div style="white-space: nowrap; display:block; align-content:center; justify-content:center;display: inline-flex; flex-wrap:wrap; width:auto">
    <div id="tab-title" style="list-style: none; border:solid; border-radius:5px; ">
        <div style="display: inline-flex; font-size:medium; ">
            <a style="font-weight:bold; text-decoration: none; color: inherit;" href="#expenses">支出</a>
        </div>
        <div style="display: inline-flex; font-size:medium;">
            <a style="font-weight:bold; text-decoration: none; color: inherit;" href="#income">收入</a>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div id="income" class="form-control tab-inner container" style="border:solid; border-color:black; margin-top:3%; height:auto; display:flex; flex-wrap:wrap">
            @foreach(var item in incomelsit)
            {
                <div class="col-sm-2">
                    <i style="display:flex; align-items:center; border:none; padding-left:27px; color: @item.TypeColorCode"
                        data-icon="@item.IconCode" data-Id="@item.ClassifyId"
                        class="@item.IconCode fa-2x form-control ICON"></i>
                    <span style="display:flex; align-items:center; border:none; padding-left:27px">@item.ClassifyName</span>
                </div>
            }
        </div>

        <div id="expenses" class="form-control tab-inner container" style="border:solid; border-color:black; margin-top:3%; height:auto; display:flex; flex-wrap:wrap">
            @foreach (var item in expenseslist)
            {
                <div class="col-sm-2">
                    <i style="display:flex; align-items:center; border:none; padding-left:27px; color: @item.TypeColorCode"
                        data-icon="@item.IconCode" data-Id="@item.ClassifyId"
                        class="@item.IconCode fa-2x form-control ICON"></i>
                    <span style="display:flex; align-items:center; border:none; padding-left:27px">@item.ClassifyName</span>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="form-control" style="border:solid; margin-top:3%; height:auto; display:flex; flex-wrap:wrap">
            <div class="col-md-1">
                <i class="fas fa-calendar-alt fa-2x"></i>
            </div>
            <div class="col-md-6">
                <input id="nowdate" class="form-control" type="date" />
            </div>
            <div class="col-1">
                <i class="fas fa-coins fa-2x">:</i>
            </div>
            <div class="col-md-4">
                <input id="amount" class="form-control" placeholder="金額" />
            </div>


            <div class="col-md-1" style="margin-top:1%">
                <i id="INPUTtitle" class="fa-2x"></i>
            </div>
            <div class="col-md-11" style="margin-top:1%">
                <input id="note" class="form-control" placeholder="請輸入備註" maxlength="10" />
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12">
        <button id="createTrackSpend" class="btn btn-success form-control" style="font-weight:bold">新 增 送 出</button>
        <button class="btn btn-success form-control" style="font-weight:bold; margin-top: 1%;">再 一 筆</button>
    </div>
</div>



<script>
    $(function () {
        let posticon = ""; postcolor = "", classifyId = "";

        //#region 支出收入_切換
        $(function () {
            var $li = $("#tab-title div")
            $($li.eq(0).addClass("active").find("a").attr("href")).siblings(".tab-inner").hide();

            $li.click(function () {
                $($(this).find("a").attr("href")).show().siblings(".tab-inner").hide();
                $(this).addClass("active").siblings(".active").removeClass("active");
            });
        })
        //#endregion

        //#region 動態變更屬性值
        $(".ICON").on("click", function () {
            let icon = $(this).attr("data-icon");
            /* postcolor = $(this).css("color");  */ //取屬性放入要post的變數
            posticon = icon;
            classifyId = $(this).attr("data-Id");

            $(".ICON").css("border", "none");  //動態變更 style屬性
            $(this).css("border", "solid");
            $(this).css("border-color", "black");

            $("#INPUTtitle").attr("class", icon + " fa-2x");
        })
        //#endregion

        $("#createTrackSpend").on("click", function () {
            if (posticon == "") {
                error("請選擇一分類");
                return false;
            }
            if ($("#note").val() == "") {
                error("請輸入備註");
                return false;
            }
            if ($("#nowdate").val() == "") {
                error("請輸入日期");
                return false;
            }
            else {
                console.log($("#note").val(), $("#nowdate").val(), parseInt($("#amount").val()), parseInt(classifyId), $(".active").find("a").text());
                fetch("@Url.Action("CreateTrackSpend", "TrackSpend")", {
                    method: "POST",
                    body: JSON.stringify({
                        Note: $("#note").val(),
                        NowDate: $("#nowdate").val(),
                        TotalAmount: isNaN(parseInt($("#amount").val())) ? 0 : parseInt($("#amount").val()),
                        ClassifyId: parseInt(classifyId),
                        InOrEx: $(".active").find("a").text(),
                    }),
                    headers: new Headers({
                        "Content-Type": "application/json",
                    }),
                })
                    .then((res) => {
                        return res.json();
                    }).then((resjson) => {
                        if (resjson.success) {
                            $("#Createmodal").modal("hide");
                            $("#trackstable").load(location.href + " #trackstable>*", "");
                            Swal.fire({
                                icon: "success",
                                title: "成功",
                                text: "新增完成",
                                showCloseButton: true,
                                backdrop: true,
                            });
                        }
                        else {
                            Swal.fire({
                                icon: "error",
                                title: "失敗",
                                text: "新增錯誤",
                                showCloseButton: true,
                                backdrop: true,
                            })
                        }
                    })
            }
        })
        function error(obj) {
            Swal.fire({
                icon: "error",
                title: "失敗",
                text: obj,
                showCloseButton: true,
                backdrop: true,
            })
        }
    })
</script>