@{
    var iconlist = ViewBag.IconList;
    var icontypelist = ViewBag.IconTypeList;
}

<div class="modal-header">
    <h2 class="modal-title">
        @ViewBag.Type
    </h2>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="form-group col-md-12">
            <span><i></i></span><input type="text" id="newclassifyName" class="form-control" placeholder="請輸入自定義名稱" maxlength="5"/>
        </div>
        <div class="form-control" style=" border:solid; border-color:black; margin-top:3%; height:auto; display:flex; flex-wrap:wrap">
            @foreach (var item in icontypelist)
            {
                <div class="col-sm-2" style="margin-top:1%">
                    <div data-color="@item.TypeColorCode" data-val="@item.Icon_TypeId"
                             style="border:solid; border-radius:10px; padding-left:18px;
                            display:flex; align-items:center; font-size:small; width:4em;" class="TYPEITEM">
                        @item.TypeName
                    </div>
                </div>
            }
        </div>
 
        <div class="form-control" style="border:solid; border-color:black; margin-top:3%; height:auto; display:flex; flex-wrap:wrap">
            @foreach(var item in iconlist)
            { 
                <div class="col-sm-2"> 
                    <i data-val="@item.IconId" 
                    style="display:flex; align-items:center; border:none; padding-left:27px" 
                    class="@item.IconCode fa-2x form-control ICON"></i>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal-footer">
    <button data-type="@ViewBag.Type2" id="createClass" class="btn btn-primary col-12" style="font-weight:bold">送 出</button>
</div>

<script>
    $(function () {
        let classIcon = "", classColor = "";
    })
    $(".ICON").on("click", function () { 
        $(".ICON").css("border", "none");  //動態修改style參數
        $(this).css("border", "solid");
        classIcon = $(this).attr("data-val");
    })
    $(".TYPEITEM").on("click", function () { 
        $(".TYPEITEM").css("background-color", "#fff");
        $(".TYPEITEM").css("color", "#495057");
        $(".TYPEITEM").css("font-weight", "normal");
        $(".ICON").css("color", "#495057");
        let typecolor = $(this).attr("data-color");
        $(this).css("background-color", typecolor);
        $(this).css("color", "#fff");
        $(this).css("font-weight", "bold");
        $(".ICON").css("color", typecolor);
        classColor = $(this).attr("data-val");
    })
    function error(obj) {
        Swal.fire({
            icon: "error",
            title: "失敗",
            text: obj,
            showCloseButton: true,
            backdrop: true,
        })
    }
    //#region create
    $("#createClass").on("click", function () { 
        let table = $(this).attr("data-type");
        if ($("#newclassifyName").val() == "" || $("#newclassifyName").val() == null) {
            error("名稱不得為空");
            return false;
        }
        if(classIcon == ""){
            error("請選擇圖示");
            return false;
        }
        if (classColor == "") {
            error("請選擇分類");
            return false;
        }
        else{
            fetch("@Url.Action("CreateClassify","TrackSpend")", {
                method: "POST",
                body: JSON.stringify({
                    ClassName: $("#newclassifyName").val(),
                    ClassIcon: parseInt(classIcon),
                    ClassColor: parseInt(classColor),
                    InOrEx: $(this).attr("data-type"),
                }),
                headers: new Headers({
                    "Content-Type": "application/json",
                }),
            })
            .then((res) => {
                return res.json();
            }).then((resjson) => {
                if (resjson.success) {
                    $("#CreateIconmodal").modal("hide");
                    if(table == "支出")
                        $("#expenses").load(location.href+" #expenses>*", "");
                    else
                            $("#income").load(location.href + " #income>*", "");
                    Swal.fire({
                        icon: "success",
                        title: "成功",
                        text: "新增完成",
                        showCloseButton: true,
                        backdrop: true,
                    });
                }
                else {
                    Swal.fire({
                        icon: "error",
                        title: "失敗",
                        text: "新增錯誤",
                        showCloseButton: true,
                        backdrop: true,
                    })
                }
            })
        }
    })
    //#endregion
</script>