@model List<C_Web.Entity.SYS.SYS_List>
@{
    List<C_Web.Entity.SYS.SYS_List> FAtemp = new();
    List<C_Web.Entity.SYS.SYS_List> CHILDtemp = new();
    CHILDtemp = Model.Where(x => x.FAID != 0 && x.FAID != null).ToList();
    FAtemp = Model.Where(x => x.FAID == 0 || x.FAID == null).OrderBy(x => x.Orders).ToList();
}

@foreach (var fa in FAtemp)
{
    var check = CHILDtemp.Any(c => c.FAID == fa.SYSListId); ;
    <ul class="menu-body function-list">
        <li>
            @if (check)
            {
                <a href="#" title="@fa.Name"><i class="@fa.Icon">@fa.Name</i></a>
                <ul>
                    @foreach (var child in CHILDtemp)
                    {
                        if (fa.SYSListId == child.FAID)
                        {
                            @* <li><a href="@Url.Action("Index", child.Url.Trim(), new{area=fa.Url.Trim()})">@child.Name</a></li> *@
                            <li class="child"><a href="/@fa.Url.Trim()/@child.Url.Trim()/Index"><i class="@child.Icon">@child.Name</i></a></li>
                        }
                    }
                </ul>
            }
            else
            {
                @* <a href="@Url.Action("Index", "Home", new{area=fa.Url.Trim()})" title="@fa.Name">@fa.Name</a> *@
                <a href="/@fa.Url.Trim()/Home/Index" title="@fa.Name"><i class="@fa.Icon">@fa.Name</i></a>
            }
        </li>
    </ul>
}


<script>
    $(document).ready(function () {
        $(".function-list > li > a").click(function (event) {
            console.log($(this).siblings("ul").length);
            if ($(this).siblings("ul").length > 0) {
                event.preventDefault();
                $(this).toggleClass("active");
                $(this).siblings("ul").slideToggle("fast");
            }
        });
    })
</script>